<!doctype html>
    <html>
    <head>
      <meta charset="utf8">
      <title>Assert</title>
      <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
          <h1>Assert</h1>
        </header>
    <div>
      <%= yield %>
    </div>
    </body>
    </html>