<% if @task %>
    <form action="/<%= @task.id %>" method="post" id="edit" >
      <input type="hidden" name="_method" value="put">
      <input type="radio" name="status" value="todo"> To-Do
      <input type="radio" name="status" value="inprogress"> In Progress
      <input type="radio" name="status" value="done"> Done
      <input type="submit" value="submit">
    </form>
<% else %>
    Plaa
<% end %>